[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-Alterator-Network
Icon=proxy
Terminal=false
Name=Proxy settings
Name[ru_RU]=Настройки прокси
Name[uk_UA]=Налаштування проксі
X-Alterator-URI=/proxy
X-Alterator-Weight=20
