[Desktop Entry]
Type=Application
Categories=X-Alterator-Network
Icon=proxy
Terminal=false
Name=Proxy settings
X-Alterator-URI=/sysconfig/proxy
Name[ru]=Настройки proxy
Name[pt_BR]=Configurações do Proxy
