[Desktop Entry]
Type=Application
Categories=X-Alterator-Network
Icon=proxy
Terminal=false
Name=Proxy settings
X-Alterator-URI=/sysconfig/proxy
X-Alterator-Help=sysconfig-proxy
Name[ru]=Прокси-сервер
Name[pt_BR]=Configurações do Proxy
