[Desktop Entry]
Type=Application
Categories=X-Alterator-Network
Icon=proxy
Terminal=false
Name=Proxy settings
Name[ru_RU]=Настройки прокси
Name[uk_UA]=Налаштування проксі
X-Alterator-URI=/sysconfig/proxy
